*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: white;
}

/**** HEADER ****/

.orsay-header{
    background: linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(255,255,255,0) 15%, rgba(254,254,254,0) 100%), url('background-orsay.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 75vh;
}

.orsay-phrase{
    font-size: 2rem;
    font-weight: 300;
    max-width: 60%;
    margin-bottom: 11rem;
}

.orsay-logo{
    margin-left: 6rem;
    width: 30%;
    position: absolute;
    top: 5rem;
}


/**** SQUARE TITLE ****/

.square-title h2{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    transform: rotate(-45deg);
    transform-origin: center; 

}

/* Down arrow before square */
.square-title::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 49px;
    display: block;
    transform: rotate(45deg);
    bottom: 171.5px;
    background-color: white;
    right: 167.4px;
    animation: squareAfter 2s linear forwards;
}

.square-title::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 49px;
    display: block;
    transform: rotate(45deg);
    bottom: 147.8px;
    background-color: white;
    right: 191.4px;
    animation: squareBefore 2s linear forwards;
   
}

@keyframes squareBefore {
    
    100%{
        transform: rotate(90deg);
    }
}

@keyframes squareAfter {
    
    100%{
        transform: rotate(0deg);
    }
}


/* Square */
.square-title
{
  width: 150px;
/*   margin: 0 auto; */
  padding: 2px;
  background-color: black; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: white, white, black */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('data:image/gif;base64,R0lGODlhAQABAPAAAAAAAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 0px;
  background-position: left top, top right, bottom right;
  -webkit-animation: drawBorderFromCenter 4s forwards;
  animation: drawBorderFromCenter 4s forwards 2s;
  transform: rotate(45deg);

}

@keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
     
    }
    50% {
      background-size: 98% 98%, 0 0, 100% 100%;
     
    }
    99%
    {
      background-size: 98% 98%, 100% 98%, 0 2px;
      
    }
    100%
    {
      background-size: 98% 98%, 100% 98%, 0 2px;
      background-color: white; 
    }
    
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
      
    }
    50% {
      background-size: 98% 98%, 0 0, 100% 100%;
      
    }
    99%
    {
      background-size: 98% 98%, 100% 98%, 0 2px;
      
    }
    100%
    {
      background-size: 98% 98%, 100% 98%, 0 2px;
      background-color: white; 
    }
    
}

.content
{
    display: flex;
    align-items: center;
    background: black;
    text-align: center;
    height: 150px;
}




/**** ART SECTION - GENERAL ****/

.section-style, .orsay-footer{
    border: solid white 1px;
    margin: 0 6rem 3rem;
    padding: 2rem;
    
}

.section-style{
    display: flex;
}


.section-style--frame{
    text-align: center;
    margin-bottom: 3rem;
}

.section-style--frame h4{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
}

.section-style--picture{
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
    cursor: zoom-in;
}

.section-style--label{
    /* padding: 3rem; */
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 30px;
    width: 50%;
    margin-left: 3rem;
}

.section-style--label table{
    border-spacing: 5px 2rem;
    margin: 0;
}

/* Firt section - painting section */

.orsay-painting{
    margin-top: 2.2rem;
}


/**** FOOTER ****/

.orsay-footer{
    font-weight: 300;
    line-height: 30px;
}

.orsay-footer a{
    color: white;
}

/******* RESPONSIVE *******/

@media screen and (max-width: 1081px){

    .section-style{
        flex-direction: column;
    }

    .section-style--label{
        width: 100%;
        margin-left: 0;
    }

    .section-style, .orsay-footer{
        margin: 2.1rem 3rem;
    }
}

@media screen and (max-width: 800px){
    .orsay-header{
        margin-top: 6rem;
    }

    .orsay-logo{
        width: 40%;
    }

    .orsay-phrase{
        max-width: 80%
    }
}

@media screen and (max-width: 560px){

    .orsay-logo{
        width: 55%;
    }
    
    .orsay-header{
        height: 63vh;
    }

    .orsay-phrase{
        position: relative;
        bottom: 10rem;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 499px){
    .section-style, .orsay-footer{
        margin: 2.1rem 1rem;
    }

}

@media screen and (max-width: 400px){
    .orsay-header {
        height: 53vh;
    }
}
