*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: white;
}

.orsay-header{
    margin-left: 4rem;
    padding: 15rem 0rem 9rem;
    background: linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(255,255,255,0) 15%, rgba(254,254,254,0) 100%), url('background-orsay.jpg');
    background-repeat: no-repeat;
    /* background-position: center;  */
    background-position: 185px;
    background-size: cover;
    
}

.orsay-header h2{
    font-size: 2rem;
    font-weight: 300;
    max-width: 50%;
}

.orsay-header img{
    width: 40%;
    margin-bottom: 3rem;
}

.leftline{
    animation: left-line-grow 3s ease-in-out;
}

.rightline{
    animation: right-line-grow 3s ease-in-out;
}

@keyframes right-line-grow{
    from{
        transform: scale(0,1);
        transform-origin: right;
    }
    to{
        transform: scale(1,1);
        transform-origin: right;
    }
} 

@keyframes left-line-grow{
    from{
        transform: scale(0,1);
        transform-origin: left;
    }
    to{
        transform: scale(1,1);
        transform-origin: left;
    }
} 

.section-style, .orsay-footer{
    border: solid white 1px;
    margin: 0 2rem 3rem;
    padding: 2rem;
    
}

.section-style--frame{
    text-align: center;
    margin-bottom: 3rem;
}

.section-style--frame h4{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
}

.section-style--picture{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 80%;
    height: 600px;
    margin: auto;
}


.section-style--label{
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 30px;
}

.orsay-footer{
    font-weight: 300;
    line-height: 30px;
}

.orsay-footer a{
    color: white;
}